.notFound {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notFound h2 {
  font-size: 8rem;
}
.notFound p {
  font-size: 50px;
}
